$white: rgb(233, 233, 233);
$black: rgb(33,33,33);
$question-bgc: rgb(148, 146, 146);
$tiptool: rgb(129, 84, 84);
$hover: rgba(129, 84, 84, 0.4);
$active: rgb(113, 185, 84);

$border-10: 10px;
$border-circle: 50%